<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NDesk.Options" version="0.2.1" targetFramework="net45" developmentDependency="true" />
  <package id="NDesk.Options.TypedOptionSet" version="1.0.1" targetFramework="net40" developmentDependency="true" />
  <package id="NUnit" version="3.6.1" targetFramework="net461" developmentDependency="true" />
</packages>